@font-face {
  font-family: "iconfont"; /* Project id 4662943 */
  src: url('iconfont.woff2?t=1730361949769') format('woff2'),
       url('iconfont.woff?t=1730361949769') format('woff'),
       url('iconfont.ttf?t=1730361949769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e6de";
}

.icon-yonghu-copy:before {
  content: "\e60d";
}

.icon-damoxingjieru2:before {
  content: "\e63a";
}

.icon-yinboyinleshengyin:before {
  content: "\e60c";
}

.icon-xiaozhushou:before {
  content: "\e618";
}

.icon-yonghu1:before {
  content: "\e614";
}

.icon-xitong-copy:before {
  content: "\ec81";
}

.icon-xiangxixinxi:before {
  content: "\e744";
}

.icon-xitong:before {
  content: "\e60b";
}

.icon-xinzeng1:before {
  content: "\e634";
}

.icon-shanchu2:before {
  content: "\e6ae";
}

.icon-fuzhi1:before {
  content: "\e8b0";
}

.icon-moren:before {
  content: "\e63b";
}

.icon-shoucang_shoucang:before {
  content: "\e60a";
}

.icon-bianpinghuatubiaosheji-:before {
  content: "\e62c";
}

.icon-ranking:before {
  content: "\e609";
}

.icon-yinxiao1:before {
  content: "\e67d";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-start-full:before {
  content: "\ea8e";
}

.icon-icon:before {
  content: "\e657";
}

.icon-daochu:before {
  content: "\e633";
}

.icon-xiazai:before {
  content: "\e611";
}

.icon-kechengliebiaokaishibofang-copy:before {
  content: "\ec80";
}

.icon-yunhangzhong-copy:before {
  content: "\ec7e";
}

.icon-kechengliebiaokaishibofang-copy1:before {
  content: "\ec7d";
}

.icon-zantingbofang:before {
  content: "\e62b";
}

.icon-kechengliebiaokaishibofang:before {
  content: "\e70e";
}

.icon-yunhangzhong:before {
  content: "\e824";
}

.icon-a-bianzu32x:before {
  content: "\e66b";
}

.icon-zhongxinyunhang:before {
  content: "\e616";
}

.icon-fileaudioo:before {
  content: "\e749";
}

.icon-yinpinwenjian:before {
  content: "\e631";
}

.icon-shengbo:before {
  content: "\e603";
}

.icon-yuyinmaikefeng-tianchong:before {
  content: "\ea6b";
}

.icon-luzhi_24:before {
  content: "\e7bc";
}

.icon-shoushi:before {
  content: "\e66e";
}

.icon-shangchuanwenjian:before {
  content: "\e67b";
}

.icon-yinxiao:before {
  content: "\e661";
}

.icon-a-icon-alarmstrategy:before {
  content: "\e73e";
}

.icon-speech_text:before {
  content: "\e64b";
}

.icon-yuyinzhuanwenben:before {
  content: "\e639";
}

.icon-a-icon-alarmstrategy-copy:before {
  content: "\ec7f";
}

.icon-xuanzeda:before {
  content: "\e85a";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-zhuyewuxunlianjihua:before {
  content: "\e690";
}

.icon-wenjian:before {
  content: "\e606";
}

.icon-biaoqingbao:before {
  content: "\e607";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-liaotian:before {
  content: "\e640";
}

.icon-bofang:before {
  content: "\e604";
}

.icon-chakan1:before {
  content: "\e605";
}

.icon-weibiaoti--:before {
  content: "\e610";
}

.icon-gantanhao:before {
  content: "\e60e";
}

.icon-gengduo:before {
  content: "\e6a3";
}

.icon-gengduo-copy:before {
  content: "\ec7c";
}

.icon-fanhui:before {
  content: "\e60f";
}

.icon-dianjichakan:before {
  content: "\e6db";
}

.icon-morentouxiang:before {
  content: "\e65e";
}

.icon-bianji1:before {
  content: "\e6f7";
}

.icon-gouliangyongliang:before {
  content: "\e719";
}

.icon-denglumima:before {
  content: "\e602";
}

.icon-dengluzhanghao:before {
  content: "\e665";
}

.icon-xinzeng:before {
  content: "\e621";
}

.icon-shanchu1:before {
  content: "\e61a";
}

.icon-yidong:before {
  content: "\e63e";
}

.icon--zuidahua:before {
  content: "\e622";
}

.icon-paixu:before {
  content: "\e65b";
}

.icon-chakan:before {
  content: "\e664";
}

.icon-bianji:before {
  content: "\e645";
}

.icon-ic_shangxiasuoxiao:before {
  content: "\e617";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-shuaxin:before {
  content: "\e627";
}

.icon-shangxiakuozhan:before {
  content: "\e675";
}

.icon-daoruwenjianjia:before {
  content: "\e62f";
}

.icon-fasong:before {
  content: "\e612";
}

.icon-jcbchat:before {
  content: "\e62d";
}

.icon-leaderboard1:before {
  content: "\e600";
}

.icon-icon_shiyongwendang:before {
  content: "\e66d";
}

.icon-changshi1:before {
  content: "\e637";
}

.icon-shiyongwendang1:before {
  content: "\e601";
}

.icon-a-APIguanli-hover:before {
  content: "\e6a9";
}

.icon-quanxianguanli:before {
  content: "\e713";
}

.icon-jifei:before {
  content: "\e61f";
}

.icon-changshi:before {
  content: "\e62e";
}

.icon-APIguanli:before {
  content: "\e632";
}

.icon-leaderboard:before {
  content: "\e85f";
}

.icon-shiyongwendang:before {
  content: "\e706";
}

.icon-duihuazixun:before {
  content: "\e700";
}

.icon-xiangxiajiantou:before {
  content: "\e63f";
}

.icon-yonghu:before {
  content: "\e64d";
}

.icon-jizhang:before {
  content: "\e676";
}

.icon-chanpinwendang:before {
  content: "\e73b";
}

.icon-qiehuanzhanghao:before {
  content: "\e61b";
}

.icon-tuichudenglu:before {
  content: "\e763";
}

.icon-xiaoxi:before {
  content: "\e684";
}

